<!DOCTYPE html>
<html>
   <title>Complicity | An Augmented Adventure</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='scene.js') }}"></script>

<body>
<div class="w3-display-container">
    <img id="panel_image" class="max_100" />
    {% if audio is not none %}
    <audio id='scene_audio'>
        <source id="mp3_src" src="/audio/click.mp3" type="audio/mpeg">
        Test1.mp3
    </audio>
    {% endif %}
</div>

<footer class="w3-container w3-teal">
  <h5>Footer</h5>
</footer>

</body>
</html>
