<!DOCTYPE html>
<html>
   <title>Complicity | An Augmented Adventure</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script type=text/javascript data-main="scripts/main" src="{{ url_for('static', filename='require.js') }}"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoJAcxxMYCl2yudzcCLa70oZHgTm3TuLU&libraries=geometry">
</script>

<script nonce="{{nonce}}" type="application/json" id="scenes">
</script>

<body>
    <div id="map"></div>
<div id="main_storyboard" class="w3-display-container" data-starting-index="{{start|tojson}}">
    <img id="panel_image" class="max_100" />
    <audio id='scene_audio'>
        <source id="mp3_src" src="/audio/click.mp3" type="audio/mpeg">
        Test1.mp3
    </audio>
</div>

</body>
</html>
