<!DOCTYPE html>
<html>
   <title>Complicity | An Augmented Adventure</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='scene.js') }}"></script>

<body>
<div class="w3-display-container">
    <a id='next_scene' href="/app/{{next}}">
    <img class="max_100" src="/images/{{image}}.jpg"/>
    {% if audio is not none %}
    <audio id='scene_audio' autoplay>
        <source src="/audio/{{audio}}.mp3" type="audio/mpeg">
        Test1.mp3
    </audio>
    {% endif %}
    </a>
</div>
</body>
</html>
